<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
                h1 {color:black;
                    text-align: center;
                    font-size: 60px;}
                h2 {font-size: 45px;}
               
            </style>
</head>
<div class="page-header">
<h1>Downloads</h1>
</div>
<br/>
<br/>
<h2><a href='/media/output.pdf' download>Download the PDF</a></h2>


<br/>
<h3><a href="/">Convert Again</a></h3>