<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
            h1 {color:red;
                    text-align: center;}
            #id_html_source { width: 100%;
                    height: 500px;
                    padding: 50px 50px;}
            #id_html_source:focus {
                    background-color: lightblue;
}
        </style>
</head>
<div class="page-header">
<h1>HTML To PDF converter</h1>
</div>
<br/>
<br/>

<h2>Enter HTML source to convert:</h2>
<form method="POST" class "form1">{% csrf_token %}
        {{ form.as_p }}
        <button type="Convert" class="save btn btn-primary">Save</button>
</form>

